name: CI/CD
on: [pull_request, push]

jobs:

  build_and_deploy:
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/checkout@v1
    - uses: actions/setup-java@v1
      with:
        java-version: '12.x'
    - uses: subosito/flutter-action@v1
      with:
          channel: 'beta'
    - run: flutter pub get
    
    #lane: build number

    - name: Generate build number
      uses: einaregilsson/build-number@v2
      with:
        token: ${{secrets.github_token}}
    - name: Print new build number
      run: echo "Build number is $BUILD_NUMBER"
    # Or, if you're on Windows: echo "Build number is ${env:BUILD_NUMBER}"

      #lane: build develop
    - name: Build
      run: |
          mkdir $HOME/secrets
          gpg --quiet --batch --yes --decrypt --passphrase="$SECRET_PASSPHRASE" \
          --output $HOME/secrets/secrets.tar secrets.tar.gpg
          tar xvf $HOME/secrets/secrets.tar
          flutter build appbundle
          flutter build apk
      env:
          SECRET_PASSPHRASE: ${{ secrets.SECRET_PASSPHRASE }}
    - name: Upload
      uses: actions/upload-artifact@master
      with:
          name: apk-build
          path: build/app/outputs/bundle/release


    - name: Deploy
      if: (github.base_ref == 'master' && github.event_name == 'pull_request')
      uses: wzieba/Firebase-Distribution-Github-Action@v1.2.1
      with:
          appId: ${{secrets.FIREBASE_ANDROID_APPID}}
          token: ${{secrets.FIREBASE_TOKEN}}
          groups: tester-ci
          release_notes: "Build Android version $BUILD_NUMBER"
          file: build/app/outputs/apk/release/app-release.apk
    
    - name: Send a message to Chatwork
      run: |
        if [[ true ]];  then
              curl -X POST -H "X-ChatWorkToken: ${secrets.CHATWORK_TOKEN}" -d \
                "body=
                - Repository name: ABC
                - Author: ABC
                - Branch: ABC
                - Commit/pull request link: https://github.com
                - Build link: ABC
                " \
                "https://api.chatwork.com/v2/rooms/${secrets.CHATWORK_ROOM_ID}/messages"
            fi
    
